* {
  text-align: center;
box-sizing: border-box; 
display: inline-block;

}

body {
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  color: #777;
  background: #777;
  font-size: 16pt; 
  line-height: 1;
}


header {
width: 960px;
display: inline-block;
background: #ebebeb;
padding: 20px; /** gives it thickness**/
margin: 5px 0px;
}
  
nav {
width: 960px;
display: inline-block;
background: #ebebeb;
padding: 20px;
margin-bottom: 10px;
}
section {
  float: left;
  padding:10px 0px 10px;
}


.full {
  background-color: #ebebeb;
  width: 495px;
  
}
.article {
  background-color: #777;
  color: #ebebeb;
  width: 475px;
  margin-top: 10px;
  padding-top: 10px;
}
h1 {
  background-color: #ebebeb;
  color: #777;
  padding: 10px;
  width: 450px;
}

p {
  background-color: #ebebeb;
  color: #777;
  width: 450px;
  margin-bottom: 10px;
  padding: 10px;
}
aside {
  background-color: #ebebeb;
  width: calc(950px - 495px);
  float: auto;
  margin-left: 10px;
  height: 264px;
}

footer {
  clear:both;
  margin: 15px 0px;
  padding: 10px;
  background-color: #ebebeb;
  width: 960px;

}